build/
.idea/
/.gradle/
*.class
*.gpg
*.log
gradle/
gradlew
gradlew.bat
gradle.properties
.classpath
.project
.settings/
target/
*.classpath
*.prefs
*.jar
*.lst
*.project
*.factorypath
*.original
.apt_generated
.sts4-cache
.springBeans